@import "tailwindcss/base";
@import "tailwindcss/components";

@import "base/**/*";
@import "utils/**/*";
@import "components/**/*";

@import "tailwindcss/utilities";

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & [x-cloak] {
    @apply hidden;
  }
}